PORT=3333
HOST=::
NODE_ENV=development
APP_KEY=<your-app-key>
DRIVE_DISK=local
APP_NAME=SpeakerWindows
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
DB_CONNECTION=pg
HASH_DRIVER=bcrypt
REDIS_CONNECTION=main
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
LIMITER_STORE=redis
LOG_LEVEL=error
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=adonis
DB_DATABASE=speaker_illus
ALLOWED_ORIGINS=https://sw-api.wplr.rocks,https://sw.wplr.rocks
