# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: API DB Connections

on:
  push:
    branches: [ master ]
  pull_request:

permissions:
  contents: read

jobs:
  test_db:

    runs-on: ubuntu-latest
    services:
      pg:
        image: pgvector/pgvector:pg17
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: testing
          POSTGRES_PASSWORD: adonis
      redis:
        image: redis:5-alpine
        ports:
          - 6379:6379
    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: cp ./api/.env.test ./api/.env
    - run: npm ci
      working-directory: ./api
    - run: node ace migration:run
      working-directory: ./api
      env:
        CI: true
        PG_PORT: ${{ job.services.pg.ports[5432] }}
        REDIS_PORT: ${{ job.services.redis.ports[6379] }}
