# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: API Tests

on:
  push:
    branches: [ master ]
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      pg:
        image: pgvector/pgvector:pg17
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: testing
          POSTGRES_PASSWORD: adonis
      redis:
        image: redis:5-alpine
        ports:
          - 6379:6379
    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
      working-directory: ./api
    - run: cp ./api/.env.test ./api/.env
    - run: sleep 10
    - run: npm run test:coverage
      working-directory: ./api
      env:
        CI: true
        MYSQL_PORT: ${{ job.services.mariadb.ports[3306] }}
        REDIS_PORT: ${{ job.services.redis.ports[6379] }}
    - uses: actions/upload-artifact@v4
      with:
        name: Test-Coverage-${{ matrix.node-version }}
        path: api/coverage # or path/to/artifact
